{% extends "base.html" %} {% load static %}

<!-- title -->

{% block title %} All My Posts {%endblock %}

<!-- css files -->

{% block css_files %}
<link rel="stylesheet" href="{% static 'blog/post.css' %}" />
<link rel="stylesheet" href="{% static 'blog/all_posts.css' %}" />
{% endblock %}

<!-- body -->

{% block content %}

<section id="all-posts">
  <h2>My collected Posts</h2>

  <ul>

    {% for post in all_post %}

    {% include "blog/includes/post.html" %}

    {% endfor %}
   
  </ul>
</section>

{% endblock %}
